@model AdvancedProgramming_Lesson1.Models.Knife

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Knife</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lenghtcm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lenghtcm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdgeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdgeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sharpness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sharpness)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
